body{
    color:#8ecae6 ;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: #003049;
}
header{
    background-color:#023047;
    padding: 20px;
    height: 400px;
    background-image: url("./onlinelogomake1.png");
    background-repeat: no-repeat;
    background-position: center;
}




















#box{
    background-color: whitesmoke;
    margin: 20px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 200px;
    
}


section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #caf0f8;
   color: #457b9d;
}

#picture{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    background-image: url(./brakes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 20px;
    left: 90px;
}

#foto{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    width: 150px;
    height: 150px;
    background-image: url(./rudder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    top:-135px;
    left: 270px;
}

#photo{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    background-image: url(./throttle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top:-290px;
    left: 450px;
}
#pic{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    background-image: url(./pitch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top:-445px;
    left: 630px;
}













#boxtwo{
    background-color: whitesmoke;
    margin: 20px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 200px;
    
}
#firstDiv{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    width: 150px;
    height: 150px;
    position: relative;
    top: 20px;
    left: 90px;
}
#rudder{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    position: relative;
    top:-135px;
    left: 270px;
}

#throttle{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    width: 150px;
    height: 150px;
    position: relative;
    top:-290px;
    left: 450px;
}
#pitch{
    border-style: solid;
    color: #457b9d;
    background-color: #a8dadc;
    width: 150px;
    height: 150px;
    position: relative;
    top:-445px;
    left: 630px;
}



#myButton{
    width: 100px;
    height: 40px;
    position: relative;
    top: 45px;
    left: 20px;
    box-shadow: 7px 6px 2px #264653
}

#rightRudder{
    width: 100px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 20px;
    box-shadow: 7px 6px 2px #264653
}

#leftRudder{
    width: 100px;
    height: 40px;
    position: relative;
    top: 45px;
    left: 20px;
    box-shadow: 7px 6px 2px #264653
}

#throttleUp{
    width: 100px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 20px;
    box-shadow: 7px 6px 2px #264653
}

#throttleDown{
    width: 100px;
    height: 40px;
    position: relative;
    top: 45px;
    left: 20px;
    box-shadow: 7px 6px 2px #264653
}

#pitchTakeoff{
    width: 100px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 20px;
    box-shadow: 6px 5px 2px #264653
}

#pitchUp{
    width: 100px;
    height: 40px;
    position: relative;
    top: 15px;
    left: 20px;
    box-shadow: 6px 5px 2px #264653
}

#pitchDown{
    width: 100px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 20px;
    box-shadow: 6px 5px 2px #264653
}













#boxThree{
    background-color:#264653;
    margin: 20px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 200px;
    
}
#rollBox{
    position: relative;
    top: 10px;
    left: 43px;
}

#pitchBox{
    position: relative;
    top: -31px;
    left: 310px;
}

#headingBox{
    position: relative;
    top: -72.5px;
    left: 590px;
}

#altitudeBox{
    position: relative;
    top: -60px;
    left: 5px;
}

#latitudeBox{
    position: relative;
    top: -101px;
    left: 282px;
}

#longitudeBox{
    position: relative;
    top: -142px;
    left: 618px;
}

#airspeedBox{
    position: relative;
    top: -125px;
    left: 32px;
}

#throttleBox{
    position: relative;
    top: -166.5px;
    left: 282px;
}

#actualBox{
    position: relative;
    top: -207.5px;
    left: 563px;
}













footer{
    background-color: #457b9d;

}